spring.datasource.url=jdbc:postgresql://localhost:5432/db_name
spring.datasource.username=db_user_name
spring.datasource.password=db_user_password

spring.jpa.database=POSTGRESQL
spring.jpa.hibernate.ddl-auto=none
spring.jpa.properties.hibernate.format_sql=false
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.show-sql=true

spring.sql.init.mode=always
spring.sql.init.platform=postgres

logging.level.org.springframework.cache=trace

spring.mail.host=localhost
spring.mail.port=1025
spring.mail.username=
spring.mail.password=
spring.mail.default-encoding=UTF-8
spring.mail.protocol=smtp

#spring.mail.properties.mail.smtp.auth=true
#spring.mail.properties.mail.smtp.connectiontimeout=5000
#spring.mail.properties.mail.smtp.timeout=5000
#spring.mail.properties.mail.smtp.writetimeout=5000  # TLS , port 587
#spring.mail.properties.mail.smtp.starttls.enable=true

gabraf.app.jwt.secret=!ChangeMe!
gabraf.app.jwt.jwtExpirationMs=604800
gabraf.app.jwt.jwtRefreshExpirationMs=604800000